<!DOCTYPE>

<html>

  <head>
    <title>"West Village Dog Centre | About"</title>
  </head>

  <h1>
    Welcome to the West Village Dog Centre!  
  </h1>

  <body>

  <p>

About Verbage

  </p>

  </body>

  </html>
