<!DOCTYPE>

<html>

  <head>
    <title>"West Village Dog Centre | Home"</title>
  </head>

  <h1>
    Welcome to the West Village Dog Centre!  
  </h1>

  <body>

  <p>

We're here to provide superb care for your dog.  We are owned and operated by local residents of the West Village that are committed to give you the best experience possible.   We're passionate about our dogs and we'd like to invite your dog to join our family.  

RITZY CANINE CARRIAGE HOUSE was conceived with the purpose of providing a loving, safe and luxurious haven for our beloved dogs and cats. Our staff will go to any lengths to make our guests' stay a true delight.

RITZY CANINE CARRIAGE HOUSE is conveniently located in Midtown on the fashionable Eastside of Manhattan. This central location provides easy access from all parts of the City as well as the Midtown Tunnel (if you're coming from one of the airports) and is within easy walking distance of New York City'smost elegant hotels and famous shopping venues.

RITZY CANINE CARRIAGE HOUSE was conceived with the purpose of providing a loving, safe and luxurious haven for our beloved dogs and cats. Our staff will go to any lengths to make our guests' stay a true delight.

  "No Request Will Be Unaddressed"

  </p>

  </body>

  </html>
