<!DOCTYPE>

<html>

  <head>
    <title>"West Village Dog Centre | Services"</title>
  </head>

  <h1>
    Welcome to the West Village Dog Center  
  </h1>

  <body>

  <p>

Socialization  
</br>
Overnight Care
</br>
Day Spa Services
</br>
Fresh Air and Relief

  </p>

  </body>

  </html>
